<div class="sidebar">
  <div class="container">
    <div class="sidebar-about">
      <h1>
        <a href="/">
          <img src="files/logo-sys.png">
        </a>
      </h1>
    </div>

    <nav class="sidebar-nav">
      <nav class="sidebar-nav">
      <a class="sidebar-nav-item" href="/">Home</a>      
            <a class="sidebar-nav-item" href="/about.html">About LRG</a>        
            <a class="sidebar-nav-item" href="/facilities.html">Facilities</a>       
            <a class="sidebar-nav-item" href="/funding.html">Funding</a>     
            <a class="sidebar-nav-item" href="/gallery.html">Gallery</a>      
            <a class="sidebar-nav-item" href="/members.html">Members</a>     
           <a class="sidebar-nav-item" href="/publications.html">Publications</a>       
            <a class="sidebar-nav-item" href="/research.html">Research</a>
            <a class="sidebar-nav-item" href="/vacancies.html">Vacancies</a>
      <a class="sidebar-nav-item" href="https://github.com/lrgresearch">Group GitHub Repos</a>
    </nav>
    </nav>

    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
